# Java Windsurf Rules - Bolt Energy


# Objetivo da Aplicação
- Baixar arquivo CSV de uma api externa
- Importar arquivo CSV para tabela no banco de dados
- Processar dados, totalizando totais desta tabela do arquivo csv em outra tabelas


# Padrões
- Use Code Clean para manter o código limpo e legível.
- Deixar o código simples e direto, evitando complexidade desnecessária, para que qualquer desenvolvedor consiga entender e manter o código facilmente.


# Documentação
- Utilize Reame.md para documentar o projeto.

# Dependências
- Use o Maven para gerenciar as dependências do projeto.
- Use Spring Boot Web Application
- Use Lombok para reduzir o boilerplate de código.
- Use SLF4J para logging.


# Code Style
- Use o padrão de nomenclatura Java (camelCase para variáveis e métodos, PascalCase para classes).
- Use Google Java Style Guide como referência para formatação de código.

# Test
- Use JUnit 5 para testes unitários.
- Use Mockito para mocks em testes unitários.


# Controllers
- Após alterações atualizar a documentação do Swagger.
- Após alterações atualizar README.md
